@import url(./reset.css);
/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: var(--text-size);
}

.wrapper {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 200px 0;
}

header .con {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}

/* logo */
h1 {
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

/* menu */
#gnb {
  width: auto;
  height: 100%;
}

#gnb > ul {
  display: flex;
  gap: 80px;
  text-align: center;
  line-height: 100px;
  font-size: 17px;
}
#gnb > ul > li {
  position: relative;
}

#gnb > ul > li:hover > a {
  color: #fff;
}

/* 2차 메뉴 */
.submenu {
  height: 0;
  overflow: hidden;
  line-height: 50px;
  font-weight: 400;
  transition: 0.5s;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu > li:hover a {
  color: #fff;
}

#gnb > ul:hover .submenu {
  height: 150px;
}

/* icon */
.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 20px;
}

.icons > div {
  width: 20px;
  height: 98px;
}

.icons > div a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인비주얼 */
main,
section {
  width: 100%;
  height: 800px;
}
.main_title > h2 {
  width: fit-content;
  margin: 240px auto;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 999;
}

.img_box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.img_box > img {
  width: 100%;
  object-fit: cover;
}

.img_star1 {
  width: fit-content;
  position: absolute;
  top: 12%;
  left: 18%;
  animation: star1 1s linear 0.3s infinite alternate;
}
@keyframes star1 {
  0% {
    transform: scale(0.8) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
.img_star2 {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  animation: star2 2.5s linear 0.3s infinite alternate;
}

@keyframes star2 {
  0% {
    transform: scale(0.8) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.img_star3 {
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 85%;
  animation: star3 1s linear 0.3s infinite alternate;
}

@keyframes star3 {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(70deg);
  }
}

/* 첫번째 섹션 */
.top_title {
  margin: 0 auto;
  width: fit-content;
  height: auto;
  text-align: center;
}

.top_title h4 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 16px;
  letter-spacing: 14px;
  margin-bottom: 20px;
  color: #abddff;
}

.top_title h3 {
  font-size: 32px;
  color: #888;
  font-weight: 500;
}

.bottom_title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 100px;
  text-align: center;
}

.bottom_title > .intro_box > p {
  margin-top: 32px;
  color: var(--text-color);
  font-weight: var(--title-weight);
}
/* 두번째 섹션 */

.sec2 {
  width: 1600px;
  height: auto;
  background-color: rgba(217, 217, 217, 0.2);
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

.sec2 .title {
  width: 100%;
  height: 100%;
}

.title > h2 {
  font-size: var(--title-size);
  font-weight: 400;
  color: var(--title-color);
  padding-top: 60px;
}

.title > p {
  font-size: var(--text-size);
  color: var(--text-color);
  margin-top: 40px;
  line-height: 1.5;
}

/* 슬라이드 전체 영역 - 슬라이드 + 버튼 + 페이지네이션 */
.swiper {
  width: 1280px;
  height: 500px;
  margin: 50px auto;
}

/* 슬라이드 영역 */
.swiper-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 슬라이드 낱장 */
.swiper-slide {
  width: 400px;
  height: 440px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fff;
}

.slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-inner img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  width: 400px;
  height: 440px;
  font-size: 24px;
  background-color: rgba(136, 136, 136, 0.5);
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.swiper-slide:hover .overlay-text {
  opacity: 1;
}

.swiper_box {
  position: relative;
}

/* 세번째 섹션 */
.sec3 {
  width: 100%;
  height: auto;
}

.sec3 .con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
}

.title_img {
  width: 65%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.title_img > img {
  width: 100%;
  height: auto;
}

.title {
  width: 100%;
  height: 100%;
  text-align: center;
}
.title > h2 {
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--title-color);
  padding-top: 50px;
}

.title > p {
  font-size: var(--text-size);
  color: var(--text-color);
  margin-top: 30px;
  line-height: 1.5;
}

/* 프로필 */
.text_card {
  width: 1280px;
  height: auto;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding-top: 60px;
}

.box {
  width: 400px;
  height: 120px;
  border-radius: 20px;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 20px;
  box-sizing: border-box;
}

.profile {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: #888;
}

.text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.2;
}

.text h3 {
  font-weight: var(--title-weight);
}

.icon {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin-top: 4px;
  font-size: 14px;
  color: var(--text-color);
}

.icon > img {
  width: 12px;
  height: 12px;
}

/* 네번째 섹션 */

.sec4 {
  width: 100%;
  height: 100%;
}

.sec4 .con {
  width: 1600px;
  height: 720px;
  padding: 0;
  background-color: rgba(217, 217, 217, 0.2);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 180px;
}
.sec4 .con .left {
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.sec4 .con .left h2 {
  font-size: var(--title-size);
  font-weight: 600;
  color: var(--title-color);
}

.sec4 .con .left a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--title-color);
  margin-top: 24px;
  border-radius: 40px;
  font-size: var(--text-size);
  background-color: #eaeaea;
  transition: 0.5s;
}

.sec4 .con .left a:hover {
  background-color: #888;
  color: #fff;
}

.right {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right_text {
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.right .right_text h3 {
  font-size: 32px;
  color: #777;
  font-weight: var(--title-weight);
}

.right .right_text p {
  font-size: var(--text-size);
  color: var(--text-color);
  padding: 24px 0;
}

.card_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 20px;
}

.card_box .card {
  width: 200px;
  height: 155px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.card span {
  color: #ff8888;
  font-weight: 600;
  position: absolute;
  top: 8px;
  right: 12px;
}

.card .card_img {
  width: fit-content;
  height: fit-content;
  margin: 2px auto;
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 155px;
  font-size: var(--text-size);
  background-color: rgba(136, 136, 136, 0.6);
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.card_overlay:hover {
  opacity: 1;
}

.card_overlay p {
  font-weight: var(--title-weight);
}

/* 타이머 */
#timer {
  font-size: 2.3em;
  font-weight: var(--title-weight);
  width: fit-content;
  color: var(--title-color);
}

#timer h5 {
  text-align: center;
  padding: 24px 0;
  font-size: 24px;
  font-weight: var(--title-weight);
}

#timer div span {
  display: block;
  margin-top: 15px;
  font-weight: 400;
}
/* 다섯번째 섹션 */
